<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ab6c5dc-00a1-440d-8601-b5c53bf5470e" Alias="Home - text - Block Grid" Level="1">
  <Info>
    <Name>Home - text - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "1b1d6c0b-47c3-4227-bc16-37faa1818416",
      "name": "Demo Blocks"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "05cbc5fd-b6ab-41da-b4b3-09f2f29a7e4a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "1b1d6c0b-47c3-4227-bc16-37faa1818416",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Headline ({{headline | truncate:true:36}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoHeadlineBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "7cdac3df-d2db-4dd9-9b05-5d69a42af281",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "1b1d6c0b-47c3-4227-bc16-37faa1818416",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Image",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoImageBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "c62a43ad-ad3e-4a76-ad3c-4e87115598f3",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "1b1d6c0b-47c3-4227-bc16-37faa1818416",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Rich Text  ({{richText | ncRichText | truncate:true:36}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoRichTextBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 6,
          "createLabel": null,
          "key": "8b80d980-db93-404f-ae39-7185b25c9dbe",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "right",
          "columnSpan": 6,
          "createLabel": null,
          "key": "5c1b4e74-51cd-42de-9759-44497136a785",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "07771220-0bb7-4c10-af0d-a0844dff91a5",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "1b1d6c0b-47c3-4227-bc16-37faa1818416",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Two Column Layout",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoTwoColumnLayoutBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "c1d489d2-d17b-4355-b521-62e0d98eb1e1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "Row Demo",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>