<?xml version="1.0" encoding="utf-8"?>
<Media Key="36403b82-3a90-4f48-95de-f31f545c0dba" Alias="Case Study Conceptual Analyics" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CaseStudyConceptualAnalyics</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-09T11:01:00</CreateDate>
    <NodeName Default="Case Study Conceptual Analyics" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qq3fanuq/case-study-conceptual-analyics.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>