<?xml version="1.0" encoding="utf-8"?>
<Media Key="c85ba5c4-4e67-42bb-b690-3720c51a655a" Alias="Case Study Momentum" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CaseStudyMomentum</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-09T11:01:00</CreateDate>
    <NodeName Default="Case Study Momentum" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yksfxsdh/case-study-momentum.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>