<?xml version="1.0" encoding="utf-8"?>
<Media Key="28b8b570-c87d-4d8e-ad45-c6e10c68f30f" Alias="Highlight Vtrak J5960" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HighlightVtrakJ5960</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-14T10:26:13</CreateDate>
    <NodeName Default="Highlight Vtrak J5960" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o00lqkd3/highlight-vtrak-j5960.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>