<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e7fd985-bcf4-42ef-bf03-6be021f7264b" Alias="Home Banner Promiseraid 720X600 Banner" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeBannerPromiseraid720X600Banner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-08T13:25:03</CreateDate>
    <NodeName Default="Home Banner Promiseraid 720X600 Banner" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qpmh4xxu/home-banner-promiseraid-720x600-banner.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>