<?xml version="1.0" encoding="utf-8"?>
<Media Key="08777ffa-f713-4bcd-aaaf-e86ac880e7b1" Alias="IT Datecenter Web 03" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ITDatecenterWeb03</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-09T10:06:16</CreateDate>
    <NodeName Default="IT Datecenter Web 03" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5r5hocat/it_datecenter_web_03.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>