<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb568cef-5d06-4474-9973-df946c7c104e" Alias="Pic Vtrak J5960 Front" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PicVtrakJ5960Front</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-07T15:04:17</CreateDate>
    <NodeName Default="Pic Vtrak J5960 Front" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3ggfnsyg/pic-vtrak-j5960-front.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>