<?xml version="1.0" encoding="utf-8"?>
<Media Key="f55456fe-77dc-4a26-8981-006b56590547" Alias="R3600xi Font" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/R3600xiFont</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-07T15:07:11</CreateDate>
    <NodeName Default="R3600xi Font" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5blfj3o2/r3600xi-font.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>