<?xml version="1.0" encoding="utf-8"?>
<Content Key="4eab2253-a445-46a6-987b-55e4b3895e43" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-08-01T11:13:38</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c3b80072-b29c-449d-b8be-e12848f788ae">Home</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/f6f2747844e64d16956e4a1ded793005",
        "areas": [
          {
            "key": "3b490f17-1471-4ac4-9434-60e676639e29",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/f15fac2bb8ef4210a13845c1c9fbc74c",
        "settingsUdi": "umb://element/3ed24aa3405f4083abe214b462cc2254",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/2e522f63b028496d80e1b54056266a36",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/8aec8e5400c646eba75229c1255e457a",
        "settingsUdi": "umb://element/177d25395f47496492a879060030c686",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/84e083b623314b4ea06f3419bd3106ab",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "udi": "umb://element/f6f2747844e64d16956e4a1ded793005",
      "headline": "this is Block Grid",
      "image": [
        {
          "key": "bc2663a8-445c-452e-989a-6f55df48e6fd",
          "mediaKey": "5f1a9b04-acd5-4270-8a57-f9e12ab4284a"
        }
      ],
      "backgroundColor": {
        "value": "f4f1ec",
        "label": "f4f1ec",
        "sortOrder": 3,
        "id": "4"
      },
      "contrast": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/f15fac2bb8ef4210a13845c1c9fbc74c"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/2e522f63b028496d80e1b54056266a36",
      "richText": {
        "markup": "<p>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</p>\n<p>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</p>\n<p>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/8aec8e5400c646eba75229c1255e457a"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/84e083b623314b4ea06f3419bd3106ab",
      "richText": {
        "markup": "<p>rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr3333333333333333333333333333333333333333333333333333</p>\n<p>3333333333333333333333333333333333333333333333333333333333333333</p>\n<p>3333333333333</p>\n<p>333333333333333rgggg</p>\n<p>ggggggggggggggggggggggggg</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/3ed24aa3405f4083abe214b462cc2254",
      "backgroundColor": "",
      "contrast": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/177d25395f47496492a879060030c686",
      "backgroundColor": "",
      "contrast": ""
    }
  ]
}]]></Value>
    </content>
    <text>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/6e00cc36e35e4a48aca729337bb5c292",
        "areas": [
          {
            "key": "8b80d980-db93-404f-ae39-7185b25c9dbe",
            "items": [
              {
                "contentUdi": "umb://element/28270af85d924d10a5e045b10a59c1cc",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "5c1b4e74-51cd-42de-9759-44497136a785",
            "items": [
              {
                "contentUdi": "umb://element/ab02075eebe04d62a2c457529105a15b",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/2ea1598a85cd4ce098f1eb6c7fb7776d",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/7a242d945bd441ebaffdc9f1e5149b61",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "07771220-0bb7-4c10-af0d-a0844dff91a5",
      "udi": "umb://element/6e00cc36e35e4a48aca729337bb5c292"
    },
    {
      "contentTypeKey": "05cbc5fd-b6ab-41da-b4b3-09f2f29a7e4a",
      "udi": "umb://element/28270af85d924d10a5e045b10a59c1cc",
      "headline": "ssssssssssssssssssssssss"
    },
    {
      "contentTypeKey": "7cdac3df-d2db-4dd9-9b05-5d69a42af281",
      "udi": "umb://element/ab02075eebe04d62a2c457529105a15b",
      "image": [
        {
          "key": "bea93e06-2663-4430-b877-6ece54d58d22",
          "mediaKey": "44023745-6e4a-4661-9811-b975e0904d1f"
        }
      ]
    },
    {
      "contentTypeKey": "c62a43ad-ad3e-4a76-ad3c-4e87115598f3",
      "udi": "umb://element/2ea1598a85cd4ce098f1eb6c7fb7776d",
      "richText": {
        "markup": "<p>tttttttttttttttttttttttttttttttttttttttttttttttttttttttttttygggggggggggggggggg</p>\n<p>gggggggggggggggggggggggggggggggggggggg</p>\n<p>gggggggggggggggggggggggggggggggggggggg</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "c62a43ad-ad3e-4a76-ad3c-4e87115598f3",
      "udi": "umb://element/7a242d945bd441ebaffdc9f1e5149b61",
      "richText": {
        "markup": "<p>ggggggggggggggggggggggg22222222222222222222222222222222222222</p>\n<p>222222222222222222222222222222222222222222222</p>\n<p>222222222222222222222222222</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </text>
  </Properties>
</Content>