<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e2ff1f7-114e-484b-a407-918daded1aa6" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2024-08-02T10:15:32</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bce3dfc2-5152-427f-999b-0f0901548bdc">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/33b2ef9bf5eb404bb1b52df24b7b75bb",
        "settingsUdi": "umb://element/f8f225b0cf844a9991fdee233fe41387",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/f8e98f4cfb014a6c8da50d575a0d8bcc",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/5f870b35282541aaac8c062ea5fdd0c4",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/895a59ae2078471b9119ca3f524108ab",
        "settingsUdi": "umb://element/7c8704475196453fbbe8ab147afd336f",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/46979529b9794349a7e205e9aefc80f3",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/3b2563b0fdc4418f8a43678f7855f9ab",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/1e1ff9c0d75d4aa3b01ab11ae5fbff1a",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/7c03159557094cceaa78a6a91ddb1aab",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/cf72f3e20926483d91b1936fc66245fb",
        "settingsUdi": "umb://element/5bd0bf6b26ac48b2bc7327040c9ea6a8",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/305c87088c3d416083b16b1231544d87",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/087db244d27a4cbabbb96ad96b3e3fba",
        "settingsUdi": "umb://element/a0072d6f2f3c4b05b93396cdba7351f0",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/570f48b4d34240e083c373f4facd4ccc",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/79a662c7e15e41abb76cd0c63369a4f5",
        "settingsUdi": "umb://element/33c9016df3494d058e3d5faf02e88511",
        "areas": [
          {
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898",
            "items": [
              {
                "contentUdi": "umb://element/952f0b087e93442283da58dded5c2148",
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/86eb492354cc4bc09da56c0560f0dd3d",
                "settingsUdi": "umb://element/2fd108305cd74d1e9ba1b96f233aaab4",
                "areas": [],
                "columnSpan": 5,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220",
            "items": [
              {
                "contentUdi": "umb://element/70943c664dc14becb097503f8dec5414",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/e6f6c2e89a134f1b8ec741eea39710ab"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/0afd51bf0fae42558175632e1f21f1a6",
        "settingsUdi": "umb://element/007be74f9e364cf1a9706e0043fabae1",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/2cabddbdf27c41f699f8740bda2423b1",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/33fc7c8b23d9447993760c8efdbc85df",
        "settingsUdi": "umb://element/001a6d2f7f894629a5f6d9b4e9dfa4c3",
        "areas": [
          {
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898",
            "items": [
              {
                "contentUdi": "umb://element/47558c74d10e4650aab4b1ff55a3ec3a",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/fa078a2b67954a6e9ba6fa9bc452b763"
              }
            ]
          },
          {
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220",
            "items": [
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/cb518608b713485fa74e27f5b9de7e5e"
              },
              {
                "contentUdi": "umb://element/e32126be0af4425296e1c1de6dabaab1",
                "settingsUdi": "umb://element/26cf743aa0c241748c660c2ff0c41774",
                "areas": [],
                "columnSpan": 5,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/0a7acb9188c445e680951bd6f496e4e8",
        "settingsUdi": "umb://element/6e4560e8cdc5494382c2258de1af53c0",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/34c7a64912ec4614a4d3bc0d50712609",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/dccd70442be04b59a4a70fc98097de37",
        "settingsUdi": "umb://element/39c2d1b57db34dd0966af6ddcf3c299c",
        "areas": [
          {
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898",
            "items": [
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/bcfb9054873c41cea3ac9858c6ece6a1"
              },
              {
                "contentUdi": "umb://element/049f738026174340bb8b87a4cd0383c6",
                "settingsUdi": "umb://element/5a9dfba81c6943afa675d3781867f326",
                "areas": [],
                "columnSpan": 5,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220",
            "items": [
              {
                "contentUdi": "umb://element/8e6d1655f7184dd0a42dcb068e3602ef",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/981ebd51f9924be784cbb1ebc7e0a19b"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/fe721d1412024fffb76e4cfa1e7c5de4",
        "settingsUdi": "umb://element/dcf5924776d94e7d8f6a12d16c7f911e",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/5cd639e11f30451cbe56ced792fa665f",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/346bbec91fc64543b54315f6d10af7ba",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/0f0296b214514cd2a8b38568daf83f59",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/ba267f742ecf490aac552bc61127c962",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/738eb890a44e4464be446fe0816317e3",
        "settingsUdi": "umb://element/abcae53f26cf4e4286f7273ce0577291",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/62e8095beeb542cabefce4e05102cac5",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/af4b53b8aab54301846206625d05a399"
              },
              {
                "contentUdi": "umb://element/733c1a531b484a91a28024a65e498199",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/8dacf7cbc3b84a3aa0c1c4866e31f8f7"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/08101e8f870d41a3a5debb436719f78a"
              },
              {
                "contentUdi": "umb://element/3fb21274b3724c5d8c3c6c83a844ee88",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/6f1a43be2224490ab98d3e4290798a10",
                "areas": [],
                "columnSpan": 9,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/d9417669f4b148feaba4dc89b1d5e396",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/69bc3792b35347f391e53706bfaa0222",
        "settingsUdi": "umb://element/fe73196b3e734bcb92f1dbc7e38f158a",
        "areas": [
          {
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898",
            "items": [
              {
                "contentUdi": "umb://element/8ee54a70b5374062b6003e063f23bdf1",
                "settingsUdi": "umb://element/afdb909bd0cb443c8e3a10b99e906ce1",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220",
            "items": [
              {
                "contentUdi": "umb://element/28b6423c22d04f8ab327a7281eb76ad1",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/33b2ef9bf5eb404bb1b52df24b7b75bb"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/5f870b35282541aaac8c062ea5fdd0c4",
      "richText": {
        "markup": "<h4 style=\"text-align: center;\">喬鼎資訊驕傲地展示了一系列適合 IT 管理的解決方案。<br>快來把握特別的優惠和促銷活動吧！</h4>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/3b2563b0fdc4418f8a43678f7855f9ab",
      "headline": "VTrak J5960",
      "richText": {
        "markup": "<p>具備綠色DNA的JBOD</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "9fee19a2-b243-4325-956e-26ccee055e97",
          "mediaKey": "cb568cef-5d06-4474-9973-df946c7c104e"
        }
      ]
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/1e1ff9c0d75d4aa3b01ab11ae5fbff1a",
      "headline": "VTrak D/E5000 系列",
      "richText": {
        "markup": "<p>進階企業及可靠度</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "70b7b17e-c706-4b73-972f-25c4883091bd",
          "mediaKey": "6b368f5e-4ef9-4fb3-aa7e-f992e1410bd2"
        }
      ]
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/46979529b9794349a7e205e9aefc80f3",
      "headline": "Vess RJ3000 系列",
      "richText": {
        "markup": "<p>區塊與檔案儲存一體化</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "298bf749-db05-4af9-854b-a0b7db74fa66",
          "mediaKey": "f55456fe-77dc-4a26-8981-006b56590547"
        }
      ]
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/7c03159557094cceaa78a6a91ddb1aab",
      "headline": "VTrak N1000 系列",
      "richText": {
        "markup": "<p>簡化您的IT儲存環境</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "e625c332-38e9-4eee-8134-369a7370afd9",
          "mediaKey": "0c00ebad-26f8-48da-bbe6-26995a129703"
        }
      ]
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/895a59ae2078471b9119ca3f524108ab"
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/cf72f3e20926483d91b1936fc66245fb"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/305c87088c3d416083b16b1231544d87",
      "richText": {
        "markup": "<div class=\"row\">\n<div class=\"columns medium-9 small-12 medium-centered\">\n<h2 class=\"text-center\" style=\"text-align: center;\">全方位的 IT 儲存</h2>\n<h4 class=\"text-center\" style=\"text-align: center;\"><br>喬鼎提供了適合小型、中型和大型企業IT的儲存系統。<br>統一的區塊和檔案儲存，完美適合中小型企業，以及高可用性/高密度/高容量的資料中心。<br>不論您的業務需要什麼大小或性能等級，我們都有您需要的儲存解決方案 <br>- 包括頂級的 24/7 技術支援。</h4>\n</div>\n</div>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/f8e98f4cfb014a6c8da50d575a0d8bcc",
      "richText": ""
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/087db244d27a4cbabbb96ad96b3e3fba"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/570f48b4d34240e083c373f4facd4ccc",
      "richText": {
        "markup": "<h3>資料保護</h3>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "udi": "umb://element/79a662c7e15e41abb76cd0c63369a4f5"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/70943c664dc14becb097503f8dec5414",
      "richText": {
        "markup": "<h4>PromiseRAID 為安全、可靠和高效能的核心，貫穿我們所有的企業儲存系統。這些系統容易設定、監控和管理，減輕 IT 人員的負擔。可擴充性讓容量擴充更簡單、更划算。</h4>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/86eb492354cc4bc09da56c0560f0dd3d",
      "image": [
        {
          "key": "149374b3-b322-4be6-a1cc-269ac5053555",
          "mediaKey": "5e7fd985-bcf4-42ef-bf03-6be021f7264b"
        }
      ]
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/0afd51bf0fae42558175632e1f21f1a6"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/2cabddbdf27c41f699f8740bda2423b1",
      "headline": "虛擬化"
    },
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "udi": "umb://element/33fc7c8b23d9447993760c8efdbc85df"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/47558c74d10e4650aab4b1ff55a3ec3a",
      "richText": {
        "markup": "<div style=\"display: grid; place-items: start;\">\n<h4>喬鼎擁有多種獲得 VM 軟體認證的解決方案，進一步簡化儲存管理，讓儲存分配能夠根據需求，最大化性能、效率和容量。使用 VM 軟體和 PROMISE 的解決方案，容量擴充也變得更簡單，讓資料容量能夠隨著公司需求成長。</h4>\n</div>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/e32126be0af4425296e1c1de6dabaab1",
      "image": [
        {
          "key": "ac29f537-c9f9-46ea-aeed-1a82dbaf03be",
          "mediaKey": "4189e0e9-2839-4e50-ad22-5cb49f955d92"
        }
      ]
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/0a7acb9188c445e680951bd6f496e4e8"
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/34c7a64912ec4614a4d3bc0d50712609",
      "headline": "業務連續性"
    },
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "udi": "umb://element/dccd70442be04b59a4a70fc98097de37"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/049f738026174340bb8b87a4cd0383c6",
      "image": [
        {
          "key": "5790843a-dab4-4bff-8996-95b9d85b6fc4",
          "mediaKey": "08777ffa-f713-4bcd-aaaf-e86ac880e7b1"
        }
      ]
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/8e6d1655f7184dd0a42dcb068e3602ef",
      "richText": {
        "markup": "<h4>為了確保資料流暢無阻，喬鼎的儲存解決方案包含了完全備援的元件，例如備援電源、控制器和熱插拔硬碟。專有的功能包括磁碟監控和自我修復機制，這些功能就像大多數的例行維護和系統升級一樣，可以作為背景活動進行，不會對業務造成任何明顯的中斷。</h4>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/952f0b087e93442283da58dded5c2148",
      "richText": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/fa078a2b67954a6e9ba6fa9bc452b763",
      "richText": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/bcfb9054873c41cea3ac9858c6ece6a1",
      "richText": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/cb518608b713485fa74e27f5b9de7e5e",
      "richText": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/e6f6c2e89a134f1b8ec741eea39710ab",
      "richText": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/981ebd51f9924be784cbb1ebc7e0a19b",
      "richText": ""
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/fe721d1412024fffb76e4cfa1e7c5de4"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/5cd639e11f30451cbe56ced792fa665f",
      "richText": {
        "markup": "<h2 class=\"text-center\" style=\"text-align: center;\">解決方案</h2>\n<h3 class=\"text-center\" style=\"text-align: center;\"><br>企業級、PromiseRAID 保護、虛擬化就緒的混合儲存</h3>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/346bbec91fc64543b54315f6d10af7ba",
      "headline": "VTrak D/E5000 系列",
      "richText": {
        "markup": "<p><strong><a href=\"https://www.promise.com/tw/Products/VTrak/D5000/\">VTrak D5000 系列</a> 和 <a href=\"https://www.promise.com/tw/Products/VTrak/E5000/\">VTrak E5000 系列</a> 包含了高可用性 (HA) 雙控制器或單控制器型號，採用 2U12/2U24/3U16/4U24 的機架尺寸，靈活的連接選項 (10GbE 或 8/16Gb/s FC)，12Gb/s SAS 擴充介面 (最大支援 512 個硬碟)。VTrak D/E5000 系列</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "d09da6aa-221f-4cb1-b624-f03b78eb87e1",
          "mediaKey": "6b368f5e-4ef9-4fb3-aa7e-f992e1410bd2"
        }
      ]
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/0f0296b214514cd2a8b38568daf83f59",
      "headline": "Vess R3000 Series",
      "richText": {
        "markup": "<p><strong><a href=\"https://www.promise.com/tw/Products/Vess/R3000/\">Vess R3000 系列</a>&nbsp;雙控制器或單控制器型號具有每個控制器四個 16Gb/s FC 埠，採用 3U16 的機架尺寸，12Gb/s SAS 擴充介面 (最大支援 208 個硬碟)。</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "3beee4f4-2336-4e2b-b6bc-c956c4b8eca8",
          "mediaKey": "f55456fe-77dc-4a26-8981-006b56590547"
        }
      ]
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/ba267f742ecf490aac552bc61127c962",
      "headline": "VTrak N1000 Series",
      "richText": {
        "markup": "<p><strong><a href=\"https://www.promise.com/tw/Products/VTrak/N-Series/\">VTrak N1000 系列</a>&nbsp;單控制器儲存單元具有 10Gb/s 或 25Gb/s 乙太網埠，利用 NVMe 提升性能。無縫地與公有雲端儲存整合。</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "4bf3968c-8176-4bd3-8354-520cc1c49396",
          "mediaKey": "0c00ebad-26f8-48da-bbe6-26995a129703"
        }
      ]
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/733c1a531b484a91a28024a65e498199",
      "headline": "",
      "richText": {
        "markup": "<h4 style=\"text-align: center;\">醫療產業成功案例: Momentum for Mental Health</h4>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "14c523f5-7227-4ab7-b667-17561eba3d51",
          "mediaKey": "c85ba5c4-4e67-42bb-b690-3720c51a655a"
        }
      ]
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "udi": "umb://element/3fb21274b3724c5d8c3c6c83a844ee88",
      "headline": "",
      "richText": {
        "markup": "<h4 style=\"text-align: center;\">太空研究成功案例: Conceptual Analytics</h4>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "5065bb65-6993-4462-99ee-f6ea91515b1c",
          "mediaKey": "36403b82-3a90-4f48-95de-f31f545c0dba"
        }
      ]
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/af4b53b8aab54301846206625d05a399",
      "richText": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/08101e8f870d41a3a5debb436719f78a",
      "richText": ""
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/8dacf7cbc3b84a3aa0c1c4866e31f8f7",
      "richText": ""
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/738eb890a44e4464be446fe0816317e3"
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/62e8095beeb542cabefce4e05102cac5",
      "richText": {
        "markup": "<h2 style=\"text-align: center;\">成功案例</h2>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/6f1a43be2224490ab98d3e4290798a10",
      "richText": ""
    },
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "udi": "umb://element/69bc3792b35347f391e53706bfaa0222"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/8ee54a70b5374062b6003e063f23bdf1",
      "image": [
        {
          "key": "b217b23a-38d7-4332-a813-b58c86cdb60c",
          "mediaKey": "cb568cef-5d06-4474-9973-df946c7c104e"
        }
      ]
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": "umb://element/28b6423c22d04f8ab327a7281eb76ad1",
      "richText": {
        "markup": "<h2>VTrak J5960</h2>\n<p> </p>\n<ul>\n<li><strong>儲存容量擴充最高可達8PB</strong></li>\n<li><strong>貼心便利的高維護性設計</strong></li>\n<li><strong>高效能資料中心的最優化選擇</strong></li>\n<li><strong>具備綠色 DNA 的 JBOD</strong></li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "6ebf8cb3-e2e4-4b13-bf55-6cf598664134",
      "udi": "umb://element/d9417669f4b148feaba4dc89b1d5e396",
      "buttontext": "Button 3434",
      "buttonUrl": "#"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/f8f225b0cf844a9991fdee233fe41387",
      "backgroundColor": "",
      "contrast": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/7c8704475196453fbbe8ab147afd336f",
      "backgroundColor": "",
      "contrast": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/5bd0bf6b26ac48b2bc7327040c9ea6a8",
      "backgroundColor": "",
      "contrast": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/a0072d6f2f3c4b05b93396cdba7351f0",
      "backgroundColor": "",
      "contrast": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/33c9016df3494d058e3d5faf02e88511",
      "backgroundColor": "",
      "contrast": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/2fd108305cd74d1e9ba1b96f233aaab4",
      "image": []
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/007be74f9e364cf1a9706e0043fabae1",
      "backgroundColor": "",
      "contrast": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/001a6d2f7f894629a5f6d9b4e9dfa4c3",
      "backgroundColor": "",
      "contrast": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/26cf743aa0c241748c660c2ff0c41774",
      "image": []
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/6e4560e8cdc5494382c2258de1af53c0",
      "backgroundColor": "",
      "contrast": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/39c2d1b57db34dd0966af6ddcf3c299c",
      "backgroundColor": "",
      "contrast": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/5a9dfba81c6943afa675d3781867f326",
      "image": []
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/dcf5924776d94e7d8f6a12d16c7f911e",
      "backgroundColor": "",
      "contrast": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/abcae53f26cf4e4286f7273ce0577291",
      "backgroundColor": {
        "value": "f5effb",
        "label": "f5effb",
        "sortOrder": 2,
        "id": "3"
      },
      "contrast": ""
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/fe73196b3e734bcb92f1dbc7e38f158a",
      "backgroundColor": "",
      "contrast": ""
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/afdb909bd0cb443c8e3a10b99e906ce1",
      "image": []
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>